/* Javier Florencio Airado */

/* 
    colores
    azul
*/


*{
    margin: 0%;
}


body{
    height: 100vh;
}

header{
    background-color: green;
    height : 15vh;
}

main{
    background-color: aliceblue;
    height : 75vh;
    text-align: center;
}

footer{
    background-color: black;
    height : 10vh;
    color: aliceblue;
}

button#anadir{
    margin: 5% auto 0;
}

table{
    margin: 5% auto;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid rgb(0, 0, 0);
}

