/* Javier Florencio Airado */

/* 
    colores
    azul
*/


*{
    margin: 0%;
}

/*** LAYOUT ***/
body{
    height: 100vh;
}

header{
    background-color: green;
    height : 15vh;
}

nav{
    height : 5vh;
    display: flex;
    align-items: center;
}

main{
    background-color: aliceblue;
    height : 70vh;
    text-align: center;
}

footer{
    background-color: black;
    height : 10vh;
    color: aliceblue;
}


/*** Elementos NAV ***/
nav > div{
    padding: 0 3%;
}









/*** Elementos LISTAR ***/
input#aniadir{
    margin: 5% auto 0;
}

table{
    margin: 5% auto;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid rgb(0, 0, 0);
}

/*** Elementos  ***/
